Translator/arm-template/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "sites_translator_test_Func_name": {
            "defaultValue": "translator-test-Func",
            "type": "String"
        },
        "connections_sharepointonline_name": {
            "defaultValue": "sharepointonline",
            "type": "String"
        },
        "workflows_translator_test_LA_name": {
            "defaultValue": "translator-test-LA",
            "type": "String"
        },
        "connections_sharepointonline_1_name": {
            "defaultValue": "sharepointonline-1",
            "type": "String"
        },
        "components_translator_test_Func_name": {
            "defaultValue": "translator-test-Func",
            "type": "String"
        },
        "serverfarms_ASP_translationtestRG_bc3d_name": {
            "defaultValue": "ASP-translationtestRG-bc3d",
            "type": "String"
        },
        "storageAccounts_storageaccounttransaa67_name": {
            "defaultValue": "storageaccounttransaa67",
            "type": "String"
        },
        "accounts_Translator_sharepoint_test_name": {
            "defaultValue": "Translator-sharepoint-test",
            "type": "String"
        },
        "smartdetectoralertrules_failure_anomalies___translator_test_func_name": {
            "defaultValue": "failure anomalies - translator-test-func",
            "type": "String"
        },
        "certificates_A8ED97221A0A692097059B31D3E896A418C4F136_translation_test_RG_NorthEuropewebspace_name": {
            "defaultValue": "A8ED97221A0A692097059B31D3E896A418C4F136-translation-test-RG-NorthEuropewebspace",
            "type": "String"
        },
        "actiongroups_application_insights_smart_detection_externalid": {
            "defaultValue": "/subscriptions/0f2b2713-3a38-4143-bf8c-846c87c8c931/resourceGroups/qftemplatecopy-rg/providers/microsoft.insights/actiongroups/application insights smart detection",
            "type": "String"
        },
        "workspaces_defaultworkspace_0f2b2713_3a38_4143_bf8c_846c87c8c931_weu_externalid": {
            "defaultValue": "/subscriptions/0f2b2713-3a38-4143-bf8c-846c87c8c931/resourceGroups/defaultresourcegroup-weu/providers/microsoft.operationalinsights/workspaces/defaultworkspace-0f2b2713-3a38-4143-bf8c-846c87c8c931-weu",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.CognitiveServices/accounts",
            "apiVersion": "2022-03-01",
            "name": "[parameters('accounts_Translator_sharepoint_test_name')]",
            "location": "northeurope",
            "tags": {
                "for": "work"
            },
            "sku": {
                "name": "F0"
            },
            "kind": "TextTranslation",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "customSubDomainName": "translator-sharepoint-test",
                "publicNetworkAccess": "Enabled"
            }
        },
        {
            "type": "microsoft.insights/components",
            "apiVersion": "2020-02-02",
            "name": "[parameters('components_translator_test_Func_name')]",
            "location": "northeurope",
            "tags": {
                "for": "work"
            },
            "kind": "web",
            "properties": {
                "Application_Type": "web",
                "Flow_Type": "Redfield",
                "Request_Source": "IbizaWebAppExtensionCreate",
                "RetentionInDays": 90,
                "WorkspaceResourceId": "[parameters('workspaces_defaultworkspace_0f2b2713_3a38_4143_bf8c_846c87c8c931_weu_externalid')]",
                "IngestionMode": "LogAnalytics",
                "publicNetworkAccessForIngestion": "Enabled",
                "publicNetworkAccessForQuery": "Enabled"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2021-09-01",
            "name": "[parameters('storageAccounts_storageaccounttransaa67_name')]",
            "location": "northeurope",
            "tags": {
                "for": "work"
            },
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "Storage",
            "properties": {
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": true,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                }
            }
        },
        {
            "type": "Microsoft.Web/certificates",
            "apiVersion": "2022-03-01",
            "name": "[parameters('certificates_A8ED97221A0A692097059B31D3E896A418C4F136_translation_test_RG_NorthEuropewebspace_name')]",
            "location": "North Europe",
            "properties": {
                "hostNames": [
                    "Translator-APP-New"
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_sharepointonline_name')]",
            "location": "northeurope",
            "kind": "V1",
            "properties": {
                "displayName": "MiikaM@kiipeilypuu.onmicrosoft.com",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "createdTime": "2022-02-08T14:05:21.9640316Z",
                "changedTime": "2022-08-29T10:24:36.6139188Z",
                "api": {
                    "name": "[parameters('connections_sharepointonline_name')]",
                    "displayName": "SharePoint",
                    "description": "SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2013 or 2016 farm using the On-Premises Data Gateway to manage documents and list items.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1591/1.0.1591.2961/', parameters('connections_sharepointonline_name'), '/icon.png')]",
                    "brandColor": "#036C70",
                    "id": "[concat('/subscriptions/0f2b2713-3a38-4143-bf8c-846c87c8c931/providers/Microsoft.Web/locations/northeurope/managedApis/', parameters('connections_sharepointonline_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_sharepointonline_1_name')]",
            "location": "northeurope",
            "kind": "V1",
            "properties": {
                "displayName": "MiikaM@kiipeilypuu.onmicrosoft.com",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "createdTime": "2022-02-08T14:22:07.9068618Z",
                "changedTime": "2022-08-29T04:59:09.5430707Z",
                "api": {
                    "name": "sharepointonline",
                    "displayName": "SharePoint",
                    "description": "SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2013 or 2016 farm using the On-Premises Data Gateway to manage documents and list items.",
                    "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1591/1.0.1591.2961/sharepointonline/icon.png",
                    "brandColor": "#036C70",
                    "id": "/subscriptions/0f2b2713-3a38-4143-bf8c-846c87c8c931/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Web/serverfarms",
            "apiVersion": "2022-03-01",
            "name": "[parameters('serverfarms_ASP_translationtestRG_bc3d_name')]",
            "location": "North Europe",
            "tags": {
                "for": "work"
            },
            "sku": {
                "name": "Y1",
                "tier": "Dynamic",
                "size": "Y1",
                "family": "Y",
                "capacity": 0
            },
            "kind": "functionapp",
            "properties": {
                "perSiteScaling": false,
                "elasticScaleEnabled": false,
                "maximumElasticWorkerCount": 1,
                "isSpot": false,
                "reserved": false,
                "isXenon": false,
                "hyperV": false,
                "targetWorkerCount": 0,
                "targetWorkerSizeId": 0,
                "zoneRedundant": false
            }
        },
        {
            "type": "microsoft.alertsmanagement/smartdetectoralertrules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('smartdetectoralertrules_failure_anomalies___translator_test_func_name')]",
            "location": "global",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "description": "Failure Anomalies notifies you of an unusual rise in the rate of failed HTTP requests or dependency calls.",
                "state": "Enabled",
                "severity": "Sev3",
                "frequency": "PT1M",
                "detector": {
                    "id": "FailureAnomaliesDetector"
                },
                "scope": [
                    "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
                ],
                "actionGroups": {
                    "groupIds": [
                        "[parameters('actiongroups_application_insights_smart_detection_externalid')]"
                    ]
                }
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/degradationindependencyduration')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "degradationindependencyduration",
                    "DisplayName": "Degradation in dependency duration",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/degradationinserverresponsetime')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "degradationinserverresponsetime",
                    "DisplayName": "Degradation in server response time",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/digestMailConfiguration')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "digestMailConfiguration",
                    "DisplayName": "Digest Mail Configuration",
                    "Description": "This rule describes the digest mail preferences",
                    "HelpUrl": "www.homail.com",
                    "IsHidden": true,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/extension_billingdatavolumedailyspikeextension')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_billingdatavolumedailyspikeextension",
                    "DisplayName": "Abnormal rise in daily data volume (preview)",
                    "Description": "This detection rule automatically analyzes the billing data generated by your application, and can warn you about an unusual increase in your application's billing costs",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/tree/master/SmartDetection/billing-data-volume-daily-spike.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/extension_canaryextension')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_canaryextension",
                    "DisplayName": "Canary extension",
                    "Description": "Canary extension",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/blob/master/SmartDetection/",
                    "IsHidden": true,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/extension_exceptionchangeextension')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_exceptionchangeextension",
                    "DisplayName": "Abnormal rise in exception volume (preview)",
                    "Description": "This detection rule automatically analyzes the exceptions thrown in your application, and can warn you about unusual patterns in your exception telemetry.",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/blob/master/SmartDetection/abnormal-rise-in-exception-volume.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/extension_memoryleakextension')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_memoryleakextension",
                    "DisplayName": "Potential memory leak detected (preview)",
                    "Description": "This detection rule automatically analyzes the memory consumption of each process in your application, and can warn you about potential memory leaks or increased memory consumption.",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/tree/master/SmartDetection/memory-leak.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/extension_securityextensionspackage')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_securityextensionspackage",
                    "DisplayName": "Potential security issue detected (preview)",
                    "Description": "This detection rule automatically analyzes the telemetry generated by your application and detects potential security issues.",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/blob/master/SmartDetection/application-security-detection-pack.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/extension_traceseveritydetector')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_traceseveritydetector",
                    "DisplayName": "Degradation in trace severity ratio (preview)",
                    "Description": "This detection rule automatically analyzes the trace logs emitted from your application, and can warn you about unusual patterns in the severity of your trace telemetry.",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/blob/master/SmartDetection/degradation-in-trace-severity-ratio.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/longdependencyduration')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "longdependencyduration",
                    "DisplayName": "Long dependency duration",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/migrationToAlertRulesCompleted')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "migrationToAlertRulesCompleted",
                    "DisplayName": "Migration To Alert Rules Completed",
                    "Description": "A configuration that controls the migration state of Smart Detection to Smart Alerts",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": true,
                    "IsEnabledByDefault": false,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": false,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/slowpageloadtime')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "slowpageloadtime",
                    "DisplayName": "Slow page load time",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_translator_test_Func_name'), '/slowserverresponsetime')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_translator_test_Func_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "slowserverresponsetime",
                    "DisplayName": "Slow server response time",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_translator_test_LA_name')]",
            "location": "northeurope",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]"
            ],
            "tags": {
                "for": "work"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_file_is_created_(properties_only)": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://kiipeilypuu.sharepoint.com/sites/Translator-test'))}/tables/@{encodeURIComponent(encodeURIComponent('c0ccb29a-17d3-4dc9-9e2b-80bf9715943d'))}/onnewfileitems"
                            },
                            "conditions": [
                                {
                                    "expression": "@equals(triggerBody()?['OData__SPIsTranslation'],true)"
                                }
                            ]
                        }
                    },
                    "actions": {
                        "Compose_JSON": {
                            "runAfter": {
                                "Compose_language_from_path": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": {
                                "language": "@{outputs('Compose_language_from_path')}",
                                "pageTitle": "@{triggerBody()?['{Name}']}",
                                "siteUrl": "https://kiipeilypuu.sharepoint.com/sites/Translator-test"
                            }
                        },
                        "Compose_language_from_path": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "@replace(replace(triggerBody()?['{Path}'], 'SitePages',''),'/','')"
                        },
                        "HTTP": {
                            "runAfter": {
                                "Compose_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "@outputs('Compose_JSON')",
                                "method": "POST",
                                "uri": "https://translator-test-func.azurewebsites.net/api/HttpTrigger2?code=fgelfUE4Np29aQceUqZqDTepPwChScXQWfUwbcR4U7LgFhp/Pcbq2A=="
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "sharepointonline": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]",
                                "connectionName": "sharepointonline",
                                "id": "/subscriptions/0f2b2713-3a38-4143-bf8c-846c87c8c931/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2021-09-01",
            "name": "[concat(parameters('storageAccounts_storageaccounttransaa67_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccounttransaa67_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "allowPermanentDelete": false,
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "2021-09-01",
            "name": "[concat(parameters('storageAccounts_storageaccounttransaa67_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccounttransaa67_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "protocolSettings": {
                    "smb": {}
                },
                "cors": {
                    "corsRules": []
                },
                "shareDeleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices",
            "apiVersion": "2021-09-01",
            "name": "[concat(parameters('storageAccounts_storageaccounttransaa67_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccounttransaa67_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices",
            "apiVersion": "2021-09-01",
            "name": "[concat(parameters('storageAccounts_storageaccounttransaa67_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccounttransaa67_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Web/sites",
            "apiVersion": "2022-03-01",
            "name": "[parameters('sites_translator_test_Func_name')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ASP_translationtestRG_bc3d_name'))]"
            ],
            "tags": {
                "for": "work"
            },
            "kind": "functionapp",
            "properties": {
                "enabled": true,
                "hostNameSslStates": [
                    {
                        "name": "translator-test-func.azurewebsites.net",
                        "sslState": "Disabled",
                        "hostType": "Standard"
                    },
                    {
                        "name": "translator-test-func.scm.azurewebsites.net",
                        "sslState": "Disabled",
                        "hostType": "Repository"
                    }
                ],
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ASP_translationtestRG_bc3d_name'))]",
                "reserved": false,
                "isXenon": false,
                "hyperV": false,
                "vnetRouteAllEnabled": false,
                "vnetImagePullEnabled": false,
                "vnetContentShareEnabled": false,
                "siteConfig": {
                    "numberOfWorkers": 1,
                    "acrUseManagedIdentityCreds": false,
                    "alwaysOn": false,
                    "http20Enabled": false,
                    "functionAppScaleLimit": 200,
                    "minimumElasticInstanceCount": 1
                },
                "scmSiteAlsoStopped": false,
                "clientAffinityEnabled": false,
                "clientCertEnabled": false,
                "clientCertMode": "Required",
                "hostNamesDisabled": false,
                "customDomainVerificationId": "1B92332B911D9AC428E5E5F19F6029768EF270A3B6A3A605C158AAA7C1561A23",
                "containerSize": 1536,
                "dailyMemoryTimeQuota": 0,
                "httpsOnly": false,
                "redundancyMode": "None",
                "storageAccountRequired": false,
                "keyVaultReferenceIdentity": "SystemAssigned"
            }
        },
        {
            "type": "Microsoft.Web/sites/basicPublishingCredentialsPolicies",
            "apiVersion": "2022-03-01",
            "name": "[concat(parameters('sites_translator_test_Func_name'), '/ftp')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_translator_test_Func_name'))]"
            ],
            "tags": {
                "for": "work"
            },
            "properties": {
                "allow": true
            }
        },
        {
            "type": "Microsoft.Web/sites/basicPublishingCredentialsPolicies",
            "apiVersion": "2022-03-01",
            "name": "[concat(parameters('sites_translator_test_Func_name'), '/scm')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_translator_test_Func_name'))]"
            ],
            "tags": {
                "for": "work"
            },
            "properties": {
                "allow": true
            }
        },
        {
            "type": "Microsoft.Web/sites/config",
            "apiVersion": "2022-03-01",
            "name": "[concat(parameters('sites_translator_test_Func_name'), '/web')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_translator_test_Func_name'))]"
            ],
            "tags": {
                "for": "work"
            },
            "properties": {
                "numberOfWorkers": 1,
                "defaultDocuments": [
                    "Default.htm",
                    "Default.html",
                    "Default.asp",
                    "index.htm",
                    "index.html",
                    "iisstart.htm",
                    "default.aspx",
                    "index.php"
                ],
                "netFrameworkVersion": "v6.0",
                "phpVersion": "5.6",
                "powerShellVersion": "~7",
                "requestTracingEnabled": false,
                "remoteDebuggingEnabled": false,
                "remoteDebuggingVersion": "VS2019",
                "httpLoggingEnabled": false,
                "acrUseManagedIdentityCreds": false,
                "logsDirectorySizeLimit": 35,
                "detailedErrorLoggingEnabled": false,
                "publishingUsername": "$translator-test-Func",
                "scmType": "None",
                "use32BitWorkerProcess": true,
                "webSocketsEnabled": false,
                "alwaysOn": false,
                "managedPipelineMode": "Integrated",
                "virtualApplications": [
                    {
                        "virtualPath": "/",
                        "physicalPath": "site\\wwwroot",
                        "preloadEnabled": false
                    }
                ],
                "loadBalancing": "LeastRequests",
                "experiments": {
                    "rampUpRules": []
                },
                "autoHealEnabled": false,
                "vnetRouteAllEnabled": false,
                "vnetPrivatePortsCount": 0,
                "cors": {
                    "allowedOrigins": [
                        "https://portal.azure.com"
                    ],
                    "supportCredentials": false
                },
                "localMySqlEnabled": false,
                "ipSecurityRestrictions": [
                    {
                        "ipAddress": "Any",
                        "action": "Allow",
                        "priority": 2147483647,
                        "name": "Allow all",
                        "description": "Allow all access"
                    }
                ],
                "scmIpSecurityRestrictions": [
                    {
                        "ipAddress": "Any",
                        "action": "Allow",
                        "priority": 2147483647,
                        "name": "Allow all",
                        "description": "Allow all access"
                    }
                ],
                "scmIpSecurityRestrictionsUseMain": false,
                "http20Enabled": false,
                "minTlsVersion": "1.2",
                "scmMinTlsVersion": "1.0",
                "ftpsState": "AllAllowed",
                "preWarmedInstanceCount": 0,
                "functionAppScaleLimit": 200,
                "functionsRuntimeScaleMonitoringEnabled": false,
                "minimumElasticInstanceCount": 1,
                "azureStorageAccounts": {}
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2022-03-01",
            "name": "[concat(parameters('sites_translator_test_Func_name'), '/HttpTrigger1')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_translator_test_Func_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://translator-test-func.azurewebsites.net/admin/vfs/site/wwwroot/HttpTrigger1/",
                "script_href": "https://translator-test-func.azurewebsites.net/admin/vfs/site/wwwroot/HttpTrigger1/run.ps1",
                "config_href": "https://translator-test-func.azurewebsites.net/admin/vfs/site/wwwroot/HttpTrigger1/function.json",
                "test_data_href": "https://translator-test-func.azurewebsites.net/admin/vfs/data/Functions/sampledata/HttpTrigger1.dat",
                "href": "https://translator-test-func.azurewebsites.net/admin/functions/HttpTrigger1",
                "config": {},
                "test_data": "{\r\n    \"name\": \"Azure\"\r\n}\r\n",
                "invoke_url_template": "https://translator-test-func.azurewebsites.net/api/httptrigger1",
                "language": "powershell",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2022-03-01",
            "name": "[concat(parameters('sites_translator_test_Func_name'), '/HttpTrigger2')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_translator_test_Func_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://translator-test-func.azurewebsites.net/admin/vfs/site/wwwroot/HttpTrigger2/",
                "script_href": "https://translator-test-func.azurewebsites.net/admin/vfs/site/wwwroot/HttpTrigger2/run.ps1",
                "config_href": "https://translator-test-func.azurewebsites.net/admin/vfs/site/wwwroot/HttpTrigger2/function.json",
                "test_data_href": "https://translator-test-func.azurewebsites.net/admin/vfs/data/Functions/sampledata/HttpTrigger2.dat",
                "href": "https://translator-test-func.azurewebsites.net/admin/functions/HttpTrigger2",
                "config": {},
                "test_data": "{\r\n    \"name\": \"Azure\"\r\n}\r\n",
                "invoke_url_template": "https://translator-test-func.azurewebsites.net/api/httptrigger2",
                "language": "powershell",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2022-03-01",
            "name": "[concat(parameters('sites_translator_test_Func_name'), '/TestCertificate')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_translator_test_Func_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://translator-test-func.azurewebsites.net/admin/vfs/site/wwwroot/TestCertificate/",
                "script_href": "https://translator-test-func.azurewebsites.net/admin/vfs/site/wwwroot/TestCertificate/run.ps1",
                "config_href": "https://translator-test-func.azurewebsites.net/admin/vfs/site/wwwroot/TestCertificate/function.json",
                "test_data_href": "https://translator-test-func.azurewebsites.net/admin/vfs/data/Functions/sampledata/TestCertificate.dat",
                "href": "https://translator-test-func.azurewebsites.net/admin/functions/TestCertificate",
                "config": {},
                "test_data": "{\r\n    \"name\": \"Azure\"\r\n}\r\n",
                "invoke_url_template": "https://translator-test-func.azurewebsites.net/api/testcertificate",
                "language": "powershell",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/hostNameBindings",
            "apiVersion": "2022-03-01",
            "name": "[concat(parameters('sites_translator_test_Func_name'), '/', parameters('sites_translator_test_Func_name'), '.azurewebsites.net')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_translator_test_Func_name'))]"
            ],
            "properties": {
                "siteName": "translator-test-Func",
                "hostNameType": "Verified"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2021-09-01",
            "name": "[concat(parameters('storageAccounts_storageaccounttransaa67_name'), '/default/azure-webjobs-hosts')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_storageaccounttransaa67_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccounttransaa67_name'))]"
            ],
            "properties": {
                "immutableStorageWithVersioning": {
                    "enabled": false
                },
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2021-09-01",
            "name": "[concat(parameters('storageAccounts_storageaccounttransaa67_name'), '/default/azure-webjobs-secrets')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_storageaccounttransaa67_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccounttransaa67_name'))]"
            ],
            "properties": {
                "immutableStorageWithVersioning": {
                    "enabled": false
                },
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
            "apiVersion": "2021-09-01",
            "name": "[concat(parameters('storageAccounts_storageaccounttransaa67_name'), '/default/translator-test-func8326')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/fileServices', parameters('storageAccounts_storageaccounttransaa67_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccounttransaa67_name'))]"
            ],
            "properties": {
                "accessTier": "TransactionOptimized",
                "shareQuota": 5120,
                "enabledProtocols": "SMB"
            }
        }
    ]
}